#atag{
    color: #006997;
    font-weight: 800;
}
#atag:hover{
    color: cadetblue;
    text-decoration: underline 3px;
}
#two{
    position: relative;
}
#two1{
    position:relative;
    top:7%;
    right: 6%;
    color: #006997;
}
#img3{
    margin-bottom: 20%;
}
#fourimg{
    width: 5%;
}
#details>img{
    width:30%;
    position: relative;
}
#details>span{
    color: #006997;
    font-weight: 800;
    position: relative;
    top: 10%;
    right: 8%;
}
#details>p{
    color: #006997;
    font-weight: 600;
    text-align: justify;
    text-indent: 50px;
}
#footer>p{
    color: #006997;
    font-size: 23px;
    font-weight: 800;
}
#footer>a>span{
    color: #006997;
    font-size: 20px;
    font-weight: 600;
}
#footer>a{
    text-decoration: none;
}
#icon{
    color: #006997;
}
#footer>span{
    color: #006997;
    font-weight: 600;
    font-size: 20px;
}
#btn{
    background-color: #006997;
    margin-left:30%;
}
::placeholder{
    color: #006997;
    font-weight: 600;
}
.line{
    border:3px solid #006997;
}
@media screen and (max-width:992px){
    #himg{
        display: none;
        margin: 0 auto;
    }
    #image{
        display: none;
        margin: 0 auto;
    }
}