#atag{
    color: #006997;
    font-weight: 800;
}
#atag:hover{
    color: cadetblue;
    text-decoration: underline 3px;
}
#test-things>p{
    color: #006997;
}
#test-things>div>p{
    color: #006997;
    text-align: justify;
    text-indent: 50px;
}
#contact-info>img{
    width: 30%;
    position: relative;
}
#contact-info>span{
    position:relative;
    color: #006997;
    top: 10%;
    right: 14px;
}
#contact-info>p{
    color: #006997;
    text-indent: 50px;
    text-align: justify;
}
#footer>p{
    color: #006997;
    font-size: 23px;
}
#footer>a>span{
    color: #006997;
    font-size: 20px;
    font-weight: 600;
}
#footer>a{
    text-decoration: none;
}
#icon{
    color: #006997;
}
#footer>span{
    color: #006997;
    font-size: 20px;
    font-weight: 600;
}
#btn{
    background-color: #006997;
    margin-left: 30%;
}
::placeholder{
    color: #006997;
    font-weight: 600;
}
.line{
    border: 3px solid #006997;
}