#atag{
    color: #006997;
    font-weight: 800;
    font-size: 20px;
}
#atag:hover{
    color:cadetblue;
    text-decoration: underline;
}
#webapp{
    margin-left: 7%;
}
#listpoints>div>p{
    color: #006997;
    font-weight:600;
    font-size: 18px;
}
#listbgimg{
    background-image: url("images/Group\ \(20\).png");
    background-position: right bottom,left top;
}
#imgexplain>figcaption{
    color: #006997;
    font-weight: 800;
}
#imgexplain>p{
    color: #006997;
    display: flex;
    text-align: justify;
    text-indent: 50px;
}
#groupimg>img{
    width: 15%;
}
#explain>img{
    width: 30%;
    position: relative;
}
#explain>span{
    position: relative;
    color: #006997;
    top: 10%;
    right: 4%;
    font-weight: 800;
}
#explain>p{
    color: #006997;
    text-align: justify;
    text-indent: 50px;
}
#footer>p{
    color: #006997;
    font-weight: 800;
    font-size: 23px;
}
#footer>a>span{
    color: #006997;
    font-weight: 500;
    font-size: 20px;
}
#footer>a{
    text-decoration: none;
}
#footer>span{
    color: #006997;
    font-size:20px ;
}
#icon{
    color:#006997;
}
#btn{
    background-color: #006997;
    margin-left: 50%;
    color: white;
}
::placeholder{
    font-weight: 700;
    color: #006997;
}
hr.line{
    border:5px solid #006997;
    width: 60%;
}

